<section class="welcome container-fluid" data-ng-controller="IndexController">
    <div class="col-md-2 col-md-offset-5">
        <img src="/system/assets/img/logo.png">
        <div>Home Page</div>
    </div>
</section>
