<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">
                <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-unlock"></i>Create New Project</div>
                <div class="acc_content clearfix" data-ng-controller="ProjectsController">
                    <form name="projectForm" class="form-horizontal col-md-6" role="form" data-ng-submit="create(projectForm.$valid)" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : submitted && projectForm.title.$invalid }">
                            <label mean-token="'create-title'" class="col-md-3 control-label">Title</label>
                            <div class="col-md-9">
                                <input name="title" type="text" class="form-control" data-ng-model="project.title" id="title" placeholder="Title" required>
                                <div ng-show="submitted && projectForm.title.$invalid" class="help-block">
                                    <p ng-show="projectForm.title.$error.required">Title is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : submitted && projectForm.content.$invalid }">
                            <label mean-token="'create-content'" for="content" class="col-md-3 control-label">Content</label>
                            <div class="col-md-9">
                                <textarea name="content" data-ng-model="project.content" id="content" cols="30" rows="10" placeholder="Content" class="form-control" required></textarea>
                                <div ng-show="submitted && projectForm.content.$invalid" class="help-block">
                                    <p ng-show="projectForm.content.$error.required">Content is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label mean-token="'permissions'" for="permissions" class="col-md-3 control-label">Permissions</label>
                            <div class="col-md-9">
                                <ui-select multiple ng-model="project.permissions" append-to-body="'true'" on-select="selectPermission()">
                                    <ui-select-match placeholder="Select permissions..." ng-click="showDescendants();">{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="circle in availableCircles | filter:$select.search" name="permissions">
                                        {{circle}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="descendants.length">
                            <label mean-token="'descendants'" for="descendants" class="col-md-3 control-label">Descendants</label>
                            <div class="col-md-9">
                                <span ng-repeat="descendant in descendants">{{descendant}} <span ng-hide="$last">, </span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button mean-token="'create-submit'" type="submit" class="btn btn-info">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
